In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_train = pd.read_csv('loan_sanction_train.csv')
df_test = pd.read_csv('loan_sanction_test.csv')

In [3]:
df_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
df_test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [5]:
df_train.drop(['Loan_ID'],axis = 1, inplace = True)
df_test.drop(['Loan_ID'],axis = 1, inplace = True)

In [6]:
df_train.shape

(614, 12)

In [7]:
df_test.shape

(367, 11)

In [8]:
df_train.isnull().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [9]:
df_train = df_train.dropna()

In [10]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             480 non-null    object
 1   Married            480 non-null    object
 2   Dependents         480 non-null    object
 3   Education          480 non-null    object
 4   Self_Employed      480 non-null    object
 5   ApplicantIncome    480 non-null    int64
 6   CoapplicantIncome  480 non-null    float64
 7   LoanAmount         480 non-null    float64
 8   Loan_Amount_Term   480 non-null    float64
 9   Credit_History     480 non-null    float64
 10  Property_Area      480 non-null    object
 11  Loan_Status        480 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 48.8+ KB

### One-hot encoding

In [11]:
# df_train_gender = pd.get_dummies(df_train['Gender'],drop_first = True)
# df_test_gender = pd.get_dummies(df_test['Gender'],drop_first = True)
# df_train = pd.concat([df_train,df_train_gender],axis = 1)
# df_test = pd.concat([df_test,df_test_gender],axis = 1)
# df_train.drop('Gender',axis = 1, inplace = True)
# df_test.drop('Gender',axis = 1, inplace = True)

# df_train_married = pd.get_dummies(df_train['Married'],drop_first = True)
# df_test_married = pd.get_dummies(df_test['Married'],drop_first = True)
# df_train = pd.concat([df_train,df_train_married],axis = 1)
# df_test = pd.concat([df_test,df_test_married],axis = 1)
# df_train.drop('Married',axis = 1, inplace = True)
# df_test.drop('Married',axis = 1, inplace = True)

# df_train_Dependents = pd.get_dummies(df_train['Dependents'],drop_first = True)
# df_test_Dependents = pd.get_dummies(df_test['Dependents'],drop_first = True)
# df_train = pd.concat([df_train,df_train_Dependents],axis = 1)
# df_test = pd.concat([df_test,df_test_Dependents],axis = 1)
# df_train.drop('Dependents',axis = 1, inplace = True)
# df_test.drop('Dependents',axis = 1, inplace = True)

# df_train_Education = pd.get_dummies(df_train['Education'],drop_first = True)
# df_test_Education = pd.get_dummies(df_test['Education'],drop_first = True)
# df_train = pd.concat([df_train,df_train_Education],axis = 1)
# df_test = pd.concat([df_test,df_test_Education],axis = 1)
# df_train.drop('Education',axis = 1, inplace = True)
# df_test.drop('Education',axis = 1, inplace = True)

# df_train_Self_Employed = pd.get_dummies(df_train['Self_Employed'],drop_first = True)
# df_test_Self_Employed = pd.get_dummies(df_test['Self_Employed'],drop_first = True)
# df_train = pd.concat([df_train,df_train_Self_Employed],axis = 1)
# df_test = pd.concat([df_test,df_test_Self_Employed],axis = 1)
# df_train.drop('Self_Employed',axis = 1, inplace = True)
# df_test.drop('Self_Employed',axis = 1, inplace = True)

# df_train_Self_Property_Area = pd.get_dummies(df_train['Property_Area'],drop_first = True)
# df_test_Self_Property_Area = pd.get_dummies(df_test['Property_Area'],drop_first = True)
# df_train = pd.concat([df_train,df_train_Self_Property_Area],axis = 1)
# df_test = pd.concat([df_test,df_test_Self_Property_Area],axis = 1)
# df_train.drop('Property_Area',axis = 1, inplace = True)
# df_test.drop('Property_Area',axis = 1, inplace = True)

### Label Encoding

In [12]:
# from sklearn.preprocessing import LabelEncoder
# labelencoder = LabelEncoder()
# df_train['Gender'] = labelencoder.fit_transform(df_train['Gender'])
# df_train['Married'] = labelencoder.fit_transform(df_train['Married'])
# df_train['Dependents'] = labelencoder.fit_transform(df_train['Dependents'])
# df_train['Education'] = labelencoder.fit_transform(df_train['Education'])
# df_train['Self_Employed'] = labelencoder.fit_transform(df_train['Self_Employed'])
# df_train['Property_Area'] = labelencoder.fit_transform(df_train['Property_Area'])

# df_test['Gender'] = labelencoder.fit_transform(df_test['Gender'])
# df_test['Married'] = labelencoder.fit_transform(df_test['Married'])
# df_test['Dependents'] = labelencoder.fit_transform(df_test['Dependents'])
# df_test['Education'] = labelencoder.fit_transform(df_test['Education'])
# df_test['Self_Employed'] = labelencoder.fit_transform(df_test['Self_Employed'])
# df_test['Property_Area'] = labelencoder.fit_transform(df_test['Property_Area'])

# df_train.tail()

### Frequency Encoding

In [13]:
# import category_encoders as ce
# count_enc = ce.CountEncoder()

# df_train['Gender'] = count_enc.fit_transform(df_train['Gender'])
# df_train['Married'] = count_enc.fit_transform(df_train['Married'])
# df_train['Dependents'] = count_enc.fit_transform(df_train['Dependents'])
# df_train['Education'] = count_enc.fit_transform(df_train['Education'])
# df_train['Self_Employed'] = count_enc.fit_transform(df_train['Self_Employed'])
# df_train['Property_Area'] = count_enc.fit_transform(df_train['Property_Area'])

# df_test['Gender'] = count_enc.fit_transform(df_test['Gender'])
# df_test['Married'] = count_enc.fit_transform(df_test['Married'])
# df_test['Dependents'] = count_enc.fit_transform(df_test['Dependents'])
# df_test['Education'] = count_enc.fit_transform(df_test['Education'])
# df_test['Self_Employed'] = count_enc.fit_transform(df_test['Self_Employed'])
# df_test['Property_Area'] = count_enc.fit_transform(df_test['Property_Area'])

### Dropping the columns

In [14]:
df_train.drop(['Gender','Married','Dependents','Education','Self_Employed','Property_Area','Credit_History'], axis=1,inplace = True)
df_test.drop(['Gender','Married','Dependents','Education','Self_Employed','Property_Area','Credit_History'], axis=1,inplace = True)

### Train-test split

In [15]:
X = df_train.drop('Loan_Status',axis = 1)
y = df_train['Loan_Status']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=45)

### Random Forest

In [16]:
from sklearn.ensemble import RandomForestClassifier
Rf = RandomForestClassifier(n_estimators = 100 , criterion = 'entropy',random_state = 42)
Rf.fit(X_train,y_train)
y_pred = Rf.predict(X_test)

from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[13 29]
 [19 83]]

0.6666666666666666

### Naive Bayes

In [17]:
from sklearn.preprocessing import StandardScaler    ## -3 to +3
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

from sklearn.naive_bayes import GaussianNB
gb = GaussianNB()
gb.fit(X_train,y_train)

y_pred = gb.predict(X_test)

from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[ 1 41]
 [11 91]]

0.6388888888888888

### Logistic Regression

In [18]:
from sklearn.preprocessing import StandardScaler    ## -3 to +3
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

from sklearn.linear_model import LogisticRegression
classi = LogisticRegression()
classi.fit(X_train,y_train)
y_pred = classi.predict(X_test)

from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
accuracy_score(y_test, y_pred)

0.6805555555555556